@model AlloyTraining.Models.Blocks.TeaserBlock

<div class="media">
    <div class="clear:both">
        <div class="mediaImg">
            <img src="@Url.ContentUrl(Model.TeaserImage)" />
        </div>
        <div class="mediaText">
            <h2>@Model.TeaserHeading</h2>
            <p>@Html.PropertyFor(x => x.TeaserText)</p>
        </div>
    </div>
</div>