@model AlloyTraining.Models.ViewModels.BlockEditPageViewModel

<div class="row">
    <div class="span12">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>
<div class="row">
    <div class="span8">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>
<div class="row">
    <div class="span4">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>