@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using AlloyTraining.Models.Pages
@model AlloyTraining.Models.ViewModels.DefaultPageViewModel<AlloyTraining.Models.Pages.StartPage>

<h1 @Html.EditAttributes(x => x.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading ?? Model.CurrentPage.PageTypeName)
</h1>
<div>
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass="border", tag="span4"})